* {
  box-sizing: border-box;
}


:root {
	--cor1: #741B7C;
	--cor2: #F7C7FF;
	--cor3: #F58EFF;
}


body {
  font-family: century gothic;
}


header {
  background-color: var(--cor1);
  padding: 3%;
  text-align: center;
  font-size: 200%;
  color: white;
}


nav {
  background-color: var(--cor2);
  padding: 2%;
 }


nav ul {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}


/* submenu escondido */
nav li ul {
    display: none;
}


/* submenu aparece quando mouse passar por cima */
nav li:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
}


/* links parecidos com botões */
li a {
    display: block;
    padding: 0.5em 1em;
	background: var(--cor2);
    color: black;
}
li a:hover {
    background: var(--cor3);
}
li a:visited{
    color: black;
}

/* sempre visível */
nav {
    position: sticky;
    top: 0;
}


li {
  list-style-type: none;
}


a {
	text-decoration: none;
}


footer {
  background-color: var(--cor1);
  padding: 1%;
  text-align: center;
  color: white;
}


article {
  background-color: #F58EFF;
  padding: 2%;
  text-align: justify;
}


main iframe {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: var(--cor3);
	border: none;
}


article iframe {
	display:inline-block;
	margin-left: auto;
	overflow: hidden;
	width: 100%;
	max-width: 1100px;
	height: 45vh;
	border: 1px solid;
}

asconoide img {
    display: block;
    margin-right: auto;
	height: 200px;
}

