@import url('https://fonts.cdnfonts.com/css/century-gothic');

* {
  box-sizing: border-box;
}

:root {
	--cor1: #713CDE;
	--cor2: #D5C5F6;
	--cor3: white;
}

body {
  font-family: Century Gothic;
}

header {
  background-color: var(--cor1);
  padding: 3%;
  text-align: center;
  font-size: 200%;
  color: white;
}

nav {
  background-color: var(--cor2);
  padding: 2%;
 }

nav ul {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
}

/* submenu escondido */
nav li ul {
    display: none;
}

/* submenu aparece quando mouse passar por cima */
nav li:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* links parecidos com botões */
li a {
    display: block;
    padding: 0.5em 1em;
	background: var(--cor2);
    color: black;
}
li a:hover {
    background: var(--cor3);
}
li a:visited{
    color: black;
}

/* sempre visível */
nav {
    position: sticky;
    top: 0;
}

li {
  list-style-type: none;
}

a {
	text-decoration: none;
}

footer {
  background-color: var(--cor1);
  padding: 1%;
  text-align: center;
  color: white;
}

article {
  background-color: white;
  padding: 1%;
  text-align: justify;
}

iframe {
	overflow: hidden;
	width: 100%;
	background-color: white;
	border: none;
	padding: 1%;
}



img {
	border-radius: 10px;
	
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 10;
}

.introducao-div {
	line-height: 2;
	text-indent: 2cm;
}

.foto_autoria {
	width: 275px;
}